@import "./shared.less";

.card {
    .disabled {
        opacity: 0.6;
        background-color: #333;
    }
    .claimable {
        background-color: #041e28;
    }
}

.page-banner {
    img {
        width: 100%;
        aspect-ratio: 3 / 1;
        background-color: #041e28;
    }
}

.hero-banner {
      background: linear-gradient(to top right, #fc466b, #3f5efb);
}

#page-manage {
    textarea {
        height: 10em;
    }
}
