@import "@polymedia/suitcase-react/styles.less";

.page-claim-banner {
    img {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        display: block;
        aspect-ratio: 16 / 9;
        background-color: #041e28;
    }
}

#page-manage {
    .poly-input textarea {
        height: 10em;
        font-size: 0.9em;
    }
}

#page-coming-soon {
    height: calc(100lvh - var(--nav-bar-height));
    display: flex;
    align-items: center;
    .page-content {
        width: 100%;
    }
}

@keyframes blink {
    0%, 100% { background-color: transparent; }
    50% { background-color: rgba(255, 255, 255, 0.1); }
}

.detail.blink {
    animation: blink 0.75s ease-in-out 4;
}
